@model KUSYS_Demo.Web.Models.StudentDetailsViewModel


<div class="modal fade" id="detailModal" ondis tabindex="-1" role="dialog" aria-labelledby="detailModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailModalTitle">Student Details</h5>
                <button type="button" class="close" onclick="CloseModal()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">@Model.FullName</h6>
                        <a asp-action="Delete" asp-controller="Student" asp-route-id="@Model.Id" class="">
                            <i class="fas fa-fw fa-trash text-danger"></i>
                            <span class="text-danger">Delete Student</span>
                        </a>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.FirstName)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.FirstName)
                            </dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.LastName)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.LastName)
                            </dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.BirthDateDisplay)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.BirthDateDisplay)
                            </dd>
                        </dl>
                    </div>
                </div>
                <div id="coursesContent"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="CloseModal()" data-dismiss="modal">Close</button>
                <a class="btn btn-primary" asp-action="Edit" asp-controller="Student" asp-route-id="@Model.Id">Edit</a>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var studentId = @Model.Id;
        $.ajax({
            type: "GET",
            url: "/CourseAssigment/List",
            data: { "id": studentId },
            success: function (response) {
                $("#coursesContent").html(response);
                $("#courseDataTable").DataTable();
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });
    function CloseModal() {
        $("#detailModal").modal('hide');
    }
    $('#detailModal').on('hidden.bs.modal', function (e) {
        $("#modalContent").html("");
    })
</script>