@model IEnumerable<KUSYS_Demo.Web.Models.StudentListViewModel>

@{
    ViewData["Title"] = "Index";
}

<link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">


<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Students</h6>
        <a asp-action="Create" class="">
            <i class="fas fa-fw fa-plus text-success"></i>
            <span class="text-success">Add New</span>
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="studentDataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BirthDateDisplay)
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr onclick="ShowDetails(@item.Id)">
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BirthDateDisplay)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="modalContent">
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#studentDataTable').DataTable();
        });

        function ShowDetails(id) {
            var studentId = id;
            $.ajax({
                type: "GET",
                url: "/Student/Details",
                data: { "id": studentId },
                success: function (response) {
                    $("#modalContent").html(response);
                    $("#detailModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
    </script>
}



